form {
  width: 300px;
  margin: 20px auto;
}

.form_title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.required {
  font-size: 0.8em;
}

.dropdown {
  text-align: right;
  padding: 0px 15px 0px 15px;
  margin: 0px 0px 10px 0px;
}

.dropdown h5 { display: inline-block; }

.dropdown select {
  background-color: white;
  border-radius: 2px;
  padding: 6px 15px 6px 15px;
  font-family: arial;
}

.dropdown select:hover {
  background-color: rgb(249, 249, 249);
}

.addContact {
  position: absolute;
  top: 20px;
  right: 1%;
}

header {
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(249, 249, 249);
  height: 75px;
  padding: 20px 12px 0px 12px;
}

a#title {
  color: #333;
  font-size: 3em;
  margin: 0;
  line-height: 34px;
  text-decoration: none;
}
