<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="addressBookApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Address Book</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller='listContactsCtrl'>

  <form>
    <input class='form-control searchField' ng-model='searchContact' placeholder='Search for a contact' type='text'>
  </form>

  Order by:
  <select ng-model='orderAlphabetically'>
    <option value='first_name'>Name</option>
    <option value='surname'>Surname</option>
  </select>

  <table class='table table-bordered table-striped'>
    <thead>
      <tr>
        <th>Surname and Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='contact in contacts | filter:searchContact | orderBy:orderAlphabetically' >
        <td>{{ contact.surname + " " + contact.first_name | uppercase}}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone_number }}</td>
      </tr>
    </tbody>
  </table>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="controllers/listContactsCtrl.js"></script>
</body>
</html>
