<section ng-controller='listContactsCtrl'>
  <form>
    <input class='form-control searchField' ng-model='searchContact' placeholder='Search for a contact' type='text'>
  </form>
  <a href='#/new'><button class='btn btn-success addContact'>Add a new contact</button></a>

  <section class='dropdown'>
    <h5>Order by:</h5>
    <select ng-model='orderAlphabetically'>
      <option value='first_name'>Name</option>
      <option value='surname'>Surname</option>
    </select>
  </section>

  <table class='table table-bordered table-striped'>
    <thead>
      <tr>
        <th>Surname and Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='contact in contacts | filter:searchContact | orderBy:orderAlphabetically' >
        <td>{{ contact.surname + " " + contact.first_name | uppercase}}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone_number }}</td>
        <td>
          <button class='btn btn-warning edit{{contact.surname+contact.first_name}}'>Edit</button>
          <button ng-click='deleteContact(contact.id)' class='btn btn-danger delete{{contact.surname+contact.first_name}}'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
